.ejercicio5 header {
    background-color: rgb(81, 75, 75);
    color: orange;
    padding: 30px;
    font-size: 3em;
    font-weight: bold;
}

.ejercicio5 nav {
    display: flex;
    justify-content: space-around;
    background-color: #999292;
}

nav a {
    color: orange;
    text-decoration: none;
    padding: 15px;
}
nav a:hover {
    color: black;
    background-color: orange;
}