.ejercicio8 header {
    background-color: rgb(81, 75, 75);
    color: orange;
    padding: 30px;
    font-size: 3em;
    font-weight: bold;
}

.ejercicio8 section {
background-color: #CCC;    
margin-top: 1.75rem;
}
article {
    display: flex;
}
.ejercicio8 img {
    width: 120px;
    border: dashed 1px #555;
}